@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("backgroundcss.jpeg");
	background-repeat:no-repeat;
	background-size: 100vw 100vw;
}
#container{
	width:800px;
	margin: 0 auto;
	
}
.left{
	width:380px; 
	height:200px;
	background-color: rgba(255,255,255,0.63);
	border-radius: 20px;
	float: left;
	margin: 0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	border: solid 1.5px rgba(255,234,248,1.00);
}
.right{
	width:380px; 
	height:200px;
	background-color: rgba(255,255,255,0.63);
	border-radius: 20px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border: solid 1.5px rgba(255,234,248,1.00);
	}
footer{
	background-color: rgba(255,255,255,0.63);
	clear: both;
}
header > h1{text-align: center; color: rgba(228,247,254,1.00)}
#container .left{
	background-color: rgba(124,124,124,0.67);
	font-family:"Gotham";
}


